*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}
.navbar__s1{
    color: black;
}
.navbar__s2{
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
}
.navbar__s2 input{
    border: none;
    font-size: 15px;
}.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border-bottom: solid black 1px;
}
.categories p{
    border: solid;
    color: white;
    background-color: #A435F0;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
}
.categories p:active{
    transform: scale(0.95);
    background-color: palevioletred;
    box-shadow: 0 0 12px palevioletred;
   
}
.sales{
    position: relative;
    display: inline-block;
}
.sales img{
    width: 100%;
    display: block;
}
.sales__desc{
    position: absolute;
    top: 15%;
    left: 5%;
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    margin: 20px;
    height: 40%;
    margin-bottom: 20px;
    border: solid black 1px;
    border-radius: 2px;
    border: none;
}
.sales__desc h2, p{
    margin-bottom: 15px;
}
.btn{
    background-color:#A435F0;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: lightcoral;
}
.recommended,.popular{
    padding: 20px;
}
.recommended__title{
    margin-bottom: 10px;
}
.course-card{
    width: 300px;
    padding: 10px;
   
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    /* flex-grow: 1;
    flex-basis: 25%; */
}
.course-card img{
    width: 100%;
    height: 60%;
}
.course-card p, h3{
    margin-top: 10px;
}
.topic{
    padding: 20px;
    
}
.topic__title{
    margin-bottom: 10px;
}
.topic__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.topic__container p{
    border: solid gray 2px;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 25%;
    cursor: pointer;
}

.topic__container p:hover{
background-color: whitesmoke;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    
}
.footer-one{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.footer-one p{
    margin-top: 20px;
}
.footer-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.footer-two h1{
    background-color: white;
    color: black;
    padding: 10px;
}